.jumbotron { 
  text-align:center;
  margin-bottom: 0px;
  background-color: rgb(37, 106, 129, 0.7);
  color:white;
  font-family: 'Monoton', cursive;
  font-weight: bold;
  height:10vw;
  border: 4px solid silver;
  border-bottom: 10px solid silver;
  border-bottom-left-radius: 40vw;
  border-bottom-right-radius: 40vw;
  border-top-left-radius: 20vw;
  border-top-right-radius: 20vw;
  margin-bottom: 1vw;
  display: none;
  width: 100%;
}
#jumbotron-font {
  font-family: 'Anton', sans-serif;
  text-shadow: 2px 2px white;
  color:black;
  margin-left: 2vw;

}
#space-invaders {
  background-color: rgb(47, 47, 230, 0.8);
  border-radius: 100vw;
  display: flex;
  position:absolute;
  border-radius: 100vw;
  width:40vw;
  left: 11vw;
  height:35vw;
  background: rgb(116,131,190);
  background: linear-gradient(90deg, rgba(116,131,190,0.3) 28%, rgba(64,97,176,0.7) 36%, rgba(75,212,136,0.3) 64%, rgba(75,81,212,0.5) 79%, rgba(75,88,212,0.4) 79%, rgba(74,109,218,0.5) 82%, rgba(90,73,229,0.4) 91%, rgba(79,73,227,0.3) 92%, rgba(73,85,231,0.3) 92%, rgba(87,73,233,0.3) 95%, rgba(92,70,252,0.1) 100%);
  
}

#space-invaders img {
  width: 15vw;
  margin: auto;
  -webkit-user-drag: none;
  bottom:33vw;
  left: 30vw;
  position: absolute;
  opacity: 0.8; 

}

#space-invaders2 img {
  width: 22vw;
  margin: auto;
  -webkit-user-drag: none;
  bottom:15vw;
  right: 36vw;
  position: absolute;
  opacity: 0.8; 

}

#spaceman {
  display: flex;
  position: absolute;
  right: 25vw;
  top: 6vw;
  width: 7vw;
  height: 10vw;
}

#spaceman img {
  width: 15vw;
  border-radius: 4vw;
}

#output {
  display: flex;
  font-size: 32px;
  color: white;
  width: 30vw;
  top: 9vw;
  right: 4.5vw;
  position:absolute;
  height: 14vw;
  white-space: normal;
  overflow: scroll;
  font-family: 'Monoton', cursive;

}

.label-text {
  color: rgb(248, 248, 248 );
  font-weight: bold;
  text-shadow: 4px 4px black;
  font-size: 20px;
}
* {
  box-sizing: border-box;
}

#button-area {
  right: 10vw;
  top: 20vw;
  height: 10vw;
  width: 20vw;
  position: absolute;
}
#submit-form {
  display:none;
  font-family: 'Anton', sans-serif;
}

#button-go {
  width: 10vw;
}

#intro1, #intro2, #intro3, #intro4 {
  display:none;
}


  /* Spinning Start Animation */
#space-invaders2 {
  animation-name: spin;
  animation-duration: 9000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
  }

  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
          transform:matrix3d()
      }
}